<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/timereg</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/ProviderCode.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/User.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/VwUserRegistrationEvent.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/UserProviderCodeLink.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/VwUserRole.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/Users.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/UserRoleLink.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/Password.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/Provider.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/RegistrationSubmitted.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/VwClientCode.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/VwUserRegistrationItem.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/VwUserPassword.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/VwProviderCode.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/UserRegistrationItemLink.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/RegistrationEvent.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/UserPasswordLink.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/ClientCode.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/Role.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/RegistrationItem.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/VwUserRegistrationSubmitted.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/Client.hbm.xml" />
        <mapping resource="dk/schioler/tools/timeregistration/hibernate/pojo/UserClientCodeLink.hbm.xml" />
    </session-factory>
</hibernate-configuration>
